.datatable {
    height: 600px;
    padding: 20px;
    margin-bottom: 50px;
    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link{
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;


        &.APPROVED {
            background-color: rgb(0, 128, 0, 0.05);
            color: green;
        }

        &.PENDING {
            background-color: rgb(0, 128, 0, 0.05);
            color: goldenrod;
        }

        &.CANCELED {
            background-color: rgb(0, 128, 0, 0.05);
            color: rgb(0, 89, 255);
        }

        &.REJECTED {
            background-color: rgb(0, 128, 0, 0.05);
            color: red;
        }

        &.COMPLETED {
            background-color: rgb(0, 128, 0, 0.05);
            color: green;
        }

        &.INCOMPLETED {
            background-color: rgb(0, 128, 0, 0.05);
            color: red;
        }
        
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px solid rgba(0, 0, 139, 0.329);
            cursor: pointer;
        }

        .addButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: green;
            border: 1px solid rgba(13, 179, 13, 0.705);
            cursor: pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px solid rgba(220, 20, 60, 0.425);
            cursor: pointer;
        }
    }
}