.FaceMask {
  text-align: center;
  font-size: 30px
}

.FaceMask-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .FaceMask-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.FaceMask-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.FaceMask-link {
  color: #61dafb;
}

@keyframes FaceMask-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title{
  display: flex;
}

.titleDescrp{
  text-align: center;
  margin-left: 550px;
}

.titleIcon{
  font-size: large;
}